@font-face 
	font-family: 'Champagne_Limousines_Bold'
	src: url('../fonts/Champagne_Limousines_Bold/Champagne_Limousines_Bold.eot')
	src: url('../fonts/Champagne_Limousines_Bold/Champagne_Limousines_Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Champagne_Limousines_Bold/Champagne_Limousines_Bold.woff') format('woff'), url('../fonts/Champagne_Limousines_Bold/Champagne_Limousines_Bold.ttf') format('truetype')
	font-style: normal
	font-weight: normal

@font-face 
	font-family: 'FreestyleScript_Regular'
	src: url('../fonts/FreestyleScript_Regular/FreestyleScript_Regular.eot')
	src: url('../fonts/FreestyleScript_Regular/FreestyleScript_Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/FreestyleScript_Regular/FreestyleScript_Regular.woff') format('woff'), url('../fonts/FreestyleScript_Regular/FreestyleScript_Regular.ttf') format('truetype')
	font-style: normal
	font-weight: normal
