/*==========  Desktop First  ==========*/

/// Large Devices, Wide Screens /
@media only screen and (max-width : 1200px)
 /**/
	#classes
		.yoga_classes
			.yoga_class
				width: 49%
				&:first-child,
				&:nth-child(3)
					margin-right: 2%
				h4
					padding-top: 20px
				p
					padding-right: 10px
	#about
		.about_right_col
			.owl-controls
				.owl-buttons
					.owl-prev::before
						left: 0
					.owl-next::before
						right: 0
	.shop
		#prices
			.block_prices
				.price_head
					padding: 0
					text-align: center
		#trainers_carousel
			.carousel_item
				.trainer_about
					&::after
						right: 0px
			.owl-controls
				.owl-pagination
					display: none
	footer
		.footer_block
			.footer_right_col
				ul
					li
						&:first-child,
						&:nth-child(3)
							margin: 0 60px 30px 0
/// Medium Devices, Desktops /
@media only screen and (max-width : 992px)
 /**/
	.sticky_block
		ul
			max-width: 710px
			li
				&:nth-child(4)
					margin: 15px 35px 0
	header
		#main_header
			.header_right_col
				h1
					padding-left: 15px
					font-size: 38px
				p
					padding-left: 15px
					font-size: 30px
	#classes
		.yoga_classes
			.yoga_class
				max-width: 570px
				width: 100%
				&:first-child,
				&:nth-child(3)
					margin-right: 0px
	#gallery
		.gallery_img
			position: relative
			width: 50%
	#about
		height: 530px
		padding: 50px 15px
		p
		.about_left_col
			width: 100%
			text-align: center
			float: none
			p
				margin: 0 auto
		.about_right_col
			width: 50%
			margin: 50px auto
			float: none
			img
				max-width: 
	.shop
		#prices
			.block_prices
				width: 570px
				margin: 0 auto 50px
				float: none
				&:nth-child(2)
					margin: 0 auto 50px
	
		#trainers_carousel
				max-width: 700px
				.carousel_item
					img
						margin: 55px 46px 0px 13px
					.trainer_about
						max-width: 450px
						padding: 50px 0 0 20px
						.position
							margin-top: 20px
						.trainer_min
							position: absolute
							left: 140px
							bottom: -95px
							width: 165px
							img
								float: left
								padding: 0
								margin: 0 10px 0 0
							p
								color: #555555
								font-size: 14px
								font-weight: 700
								font-style: normal
								margin-top: 12px
							span
								font-size: 12px
								color: #777777
	footer
		.footer_block
			.footer_left_col
				width: 70%
			.footer_right_col
				width: 30%
				ul
					li
						margin-bottom: 15px
						&:first-child,
						&:nth-child(3)
							margin: 0 0px 15px 0

/// Small Devices, Tablets /
@media only screen and (max-width : 768px)
 /**/
	.sticky_block
		height: 100px
		background: #fff
		.logo
			display: block
			float: left
			line-height: 20px
			cursor: pointer
			text-transform: uppercase
			font-size: 24px
			font-weight: 600
			text-align: center
			color: $blue
			margin: 20px 0 0 25px
		.menu_btn
			display: block
			height: 50px
			width: 50px
			padding: 25px 25px 0 0
			float: right
			cursor: pointer
		ul
			display: none
			padding-top: 100px
			max-width: 100%
			margin: 0
			li
				background: #fff
				display: block
				margin: 0
				padding: 5px
				width: 100%
				a
					font-size: 24px
				&:nth-child(4)
					display: none
	
	header
		width: 100%
		#main_header
			.header_left_col
				width: 100%
				float: none
				margin: 0 auto
				padding-top: 40px
				.form
					float: none
					margin: 0 auto 
					padding: 35px 40px 95px 30px
			.header_right_col
				width: 100%
				float: none
				text-align: center
				br
					display: none
				h1
					padding: 0 15px 
					margin-top: 20px
					font-size: 38px
				p
					padding: 0 15px
					font-size: 30px
					margin-top: 20px

	#about
		.about_right_col
			width: 80%
	#features
		.features_block
			.feature
				width: 50%
	
@media only screen and (max-width : 727px)
 /**/
	.shop
		#trainers_carousel
			width: 90%
			height: 395px
			.owl-wrapper-outer
				height: 500px
			.carousel_item
				width: 100%
				img
					display: block
					width: 100px
					margin: 20px auto 0
					float: none
				.trainer_about
					text-align: center
					float: none
					max-width: 300px
					padding: 0 15px
					margin: 20px auto 0
					&::after
						bottom: 53px
						right: -10px
					.vertical_line
						display: none
					.position
						margin-top: 20px
					.trainer_min
						position: static
						margin: 0 auto
						img
							width: 70px
							margin: 8px 10px 0 0
						p
							padding-top: 22px
			.owl-controls
				.owl-buttons
					.owl-prev::before,
					.owl-next::before
						display: none
/// Extra Small Devices, Phones /
@media only screen and (max-width : 650px)
 /**/

	header
		#main_header
			.header_left_col
				padding-top: 15px
	footer
		.footer_block
			.footer_left_col
				width: 100%
				text-align: center
				p
					max-width: 100%
			.footer_right_col
				margin-top: 50px
				width: 100%
				text-align: center

/// Extra Small Devices, Phones /
@media only screen and (max-width : 480px)
 /**/


/// Custom, iPhone Retina /
@media only screen and (max-width : 320px)
 /**/


/*==========  Mobile First  ==========*/

/// Custom, iPhone Retina /
@media only screen and (min-width : 320px)
 /**/


/// Extra Small Devices, Phones /
@media only screen and (min-width : 480px)
 /**/


/// Small Devices, Tablets /
@media only screen and (min-width : 769px)
 /**/
	.sticky_block
		ul
			display: block !important

/// Medium Devices, Desktops /
@media only screen and (min-width : 992px)
 /**/


/// Large Devices, Wide Screens /
@media only screen and (min-width : 1200px)
 /**/