/*==========  Desktop First  ==========*/

/// Large Devices, Wide Screens /
@media only screen and (max-width : 1200px)
 /**/
	#classes
		.yoga_classes
			.yoga_class
				width: 49%
				&:first-child,
				&:nth-child(3)
					margin-right: 2%
				h4
					padding-top: 20px
				p
					padding-right: 10px
	#about
		.about_right_col
			.owl-controls
				.owl-buttons
					.owl-prev::before
						left: 0
					.owl-next::before
						right: 0
	.shop
		#prices
			.block_prices
				.price_head
					padding: 0
					text-align: center
		#trainers_carousel
			.owl-controls
				.owl-pagination
					display: none
	footer
		.footer_block
			.footer_right_col
				ul
					li
						&:first-child,
						&:nth-child(3)
							margin: 0 60px 30px 0
/// Medium Devices, Desktops /
@media only screen and (max-width : 992px)
 /**/
	

/// Small Devices, Tablets /
@media only screen and (max-width : 768px)
 /**/
	

/// Extra Small Devices, Phones /
@media only screen and (max-width : 480px)
 /**/


/// Custom, iPhone Retina /
@media only screen and (max-width : 320px)
 /**/


/*==========  Mobile First  ==========*/

/// Custom, iPhone Retina /
@media only screen and (min-width : 320px)
 /**/


/// Extra Small Devices, Phones /
@media only screen and (min-width : 480px)
 /**/


/// Small Devices, Tablets /
@media only screen and (min-width : 768px)
 /**/


	//.menu
		ul
			display: inline-block !important



/// Medium Devices, Desktops /
@media only screen and (min-width : 992px)
 /**/


/// Large Devices, Wide Screens /
@media only screen and (min-width : 1200px)
 /**/