@import 'vars'
@import 'fonts'
@import 'lightbox'

*
	margin: 0
	padding: 0
body
	font-family: 'Open Sans', sans-serif

header
	width: 100%
	.sticky_menu
		background: #fff
		width: 100%
		.logo
			display: none
		ul
			max-width: 910px
			height: 100px
			margin: 0px auto
			list-style: none
			li
				display: inline-block
				text-align: center
				margin: 42px 14px 0
				vertical-align: top
				&:nth-child(4)
					margin: 15px 135px 0
					line-height: 20px
					cursor: pointer
					p
						text-transform: uppercase
						font-size: 24px
						color: $blue
				a
					font-size: 14px
					font-weight: 600
					text-decoration: none
					color: #555555
					&.active
						color: $blue
						.menu_li_line
							display: block
					.menu_li_line
						display: none
						width: 30px
						border-bottom: 1px solid $blue
						margin: 0 auto
	.main_header
		background: url("../img/header_bg.jpg")
		background-size: cover
		background-position: top center
		height: 600px
		.header_left_col
			width: 50%
			float: left
			.form
				float: right
				width: 230px
				margin: 100px 45px 109px 0
				padding: 35px 40px 30px 30px
				background: #fff
				border-radius: 17px
				h3
					font-size: 25px
					font-weight: 600
					padding-left: 3px
					color: $blue
					margin-bottom: 28px
				input,
				select
					width: 230px
					outline: none
					border: none
					background: #f2f2f2
					padding: 15px 10px 20px
					color: #888888
					font-size: 14px
					border-radius: 7px
					margin-bottom: 15px
				input
					width: 210px
				.submit
					float: right
					width: 170px
					border-radius: 7px
					color: #fff
					background: #5b6ceb
					margin: 13px 0 0
					&:hover
						background: #475bf1
						cursor: pointer
		.header_right_col
			width: 50%
			float: left
			color: #fff
			h1
				padding-left: 45px
				margin-top: 160px
				font-size: 48px
				text-transform: uppercase
			p
				padding-left: 45px
				font-family: $fs
				font-size: 40px
				margin-top: 50px
.classes
	@extend %maw_block
	text-align: center
	padding: 120px 0 0 0
	.title
		h2
			text-transform: uppercase
			font-size: 30px
			font-weight: 700
			color: $blue
		p
			font-family: $fs
			font-size: 40px
			color: #777777
			margin-bottom: 30px
	.yoga_classes
		display: flex
		flex-direction: row
		justify-content: center
		flex-wrap: wrap
		align-items: flex-start
		align-content: flex-start
		margin-bottom: 125px
		.yoga_class
			max-width: 570px
			text-align: left
			box-shadow: 5px 0 15px rgba(153,153,153,.3)
			border-radius: 7px
			margin-bottom: 25px
			&:first-child,
			&:nth-child(3)
				margin-right: 30px
			&::after
				content: ""
				clear: both
				display: block
			img
				float: left
				margin-right: 30px
				border-top-left-radius: 7px
				border-bottom-left-radius: 7px
			h4
				text-transform: uppercase
				font-size: 20px
				font-weight: 700
				padding-top: 50px
				color: #777777
			p
				font-size: 14px
				padding-right: 47px
				margin: 35px 0 17px
				color: #555555
			span
				font-size: 14px
				color: #999999
.gallery
	max-width: 1920px
	margin: 0 auto 125px
	height: auto
	display: flex
	flex-direction: row
	justify-content: center
	flex-wrap: wrap
	align-items: stretch
	.gallery_img
		position: relative
		width: 25%
		overflow: hidden
		img
			height: 100%
			
		.img_hover
			display: block
			position: absolute
			top: 0
			width: 100%
			height: 100%
			&::before
				content: "\e901"
				font-size: 35px
				font-weight: 700
				padding: 10px
				color: transparent
				border-radius: 50%
				font-family: 'icomoon'
				position: absolute
				top: 43%
				left: 43%
			&:hover
				background: rgba(123, 136, 238, .8)
				&::before
					color: $blue
					background: #fff
				
.about
	@extend %maw_block
	height: 300px
	margin-bottom: 125px
	.about_left_col
		width: 50%
		float: left
		h3
			padding: 25px 0px 27px
			text-transform: uppercase
			color: $blue
			font-size: 30px
			font-weight: 700
		p
			font-size: 14px
			color: #555555
			max-width: 465px
	.about_right_col
		position: relative
		height: 308px
		width: 50%
		float: right
		box-shadow: 2px 0 20px rgba(153,153,153,.4)
		.about_carouser
			.carousel_item
				img
					width: 100%
		.owl-controls
			.owl-buttons
				.owl-prev::before,
				.owl-next::before
					position: absolute
					top: 43%
					color: $blue
					background: #fff
					border-radius: 50%
					font-family: 'icomoon'
					font-size: 40px
					font-weight: 500
					padding: 2px 3px
					box-shadow: 0 0 15px rgba(153,153,153,.6)
				.owl-prev::before
					content: "\e90d"
					left: -25px
				.owl-next::before
					content: "\e900"
					right: -25px
	
	










@import 'media'