@import 'vars'
@import 'fonts'
@import 'lightbox'

*
	margin: 0
	padding: 0
body
	font-family: 'Open Sans', sans-serif
	.stycky_block
		position: -webkit-sticky
		position: -moz-sticky
		position: -ms-sticky
		position: -o-sticky
		position: sticky
		top: 0
		z-index: 50
		background: #fff
		width: 100%
		.logo
			display: none
		ul
			max-width: 910px
			height: 100px
			margin: 0px auto
			list-style: none
			li
				display: inline-block
				text-align: center
				margin: 42px 14px 0
				vertical-align: top
				&:hover
					a
						color: $blue
						.menu_li_line
							display: block
				&.active
					a
						color: $blue
						.menu_li_line
							display: block
				&:nth-child(4)
					margin: 15px 135px 0
					line-height: 20px
					cursor: pointer
					p
						text-transform: uppercase
						font-size: 24px
						color: $blue
				a
					font-size: 14px
					font-weight: 600
					text-decoration: none
					color: #555555
					.menu_li_line
						display: none
						width: 30px
						border-bottom: 1px solid $blue
						margin: 0 auto
header
	width: 100%
	#main_header
		background: url("../img/header_bg.jpg")
		background-size: cover
		background-position: top center
		height: 600px
		.header_left_col
			width: 50%
			float: left
			.form
				float: right
				width: 230px
				margin: 100px 45px 109px 0
				padding: 35px 40px 30px 30px
				background: #fff
				border-radius: 17px
				h3
					font-size: 25px
					font-weight: 600
					padding-left: 3px
					color: $blue
					margin-bottom: 28px
				input,
				select
					width: 230px
					outline: none
					border: none
					background: #f2f2f2
					padding: 15px 10px 20px
					color: #888888
					font-size: 14px
					border-radius: 7px
					margin-bottom: 15px
				input
					width: 210px
				.submit
					float: right
					width: 170px
					border-radius: 7px
					color: #fff
					background: #5b6ceb
					margin: 13px 0 0
					&:hover
						background: #475bf1
						cursor: pointer
		.header_right_col
			width: 50%
			float: left
			color: #fff
			h1
				padding-left: 45px
				margin-top: 160px
				font-size: 48px
				text-transform: uppercase
			p
				padding-left: 45px
				font-family: $fs
				font-size: 40px
				margin-top: 50px
#classes
	@extend %maw_block
	text-align: center
	padding: 120px 0 0 0
	.title
		h2
			text-transform: uppercase
			font-size: 30px
			font-weight: 700
			color: $blue
		p
			font-family: $fs
			font-size: 40px
			color: #777777
			margin-bottom: 30px
	.yoga_classes
		display: flex
		flex-direction: row
		justify-content: center
		flex-wrap: wrap
		align-items: flex-start
		align-content: flex-start
		margin-bottom: 125px
		.yoga_class
			max-width: 570px
			text-align: left
			box-shadow: 5px 0 15px rgba(153,153,153,.3)
			border-radius: 7px
			margin-bottom: 25px
			&:first-child,
			&:nth-child(3)
				margin-right: 30px
			&::after
				content: ""
				clear: both
				display: block
			img
				float: left
				margin-right: 30px
				border-top-left-radius: 7px
				border-bottom-left-radius: 7px
			h4
				text-transform: uppercase
				font-size: 20px
				font-weight: 700
				padding-top: 50px
				color: #777777
			p
				font-size: 14px
				padding-right: 47px
				margin: 35px 0 17px
				color: #555555
			span
				font-size: 14px
				color: #999999
#gallery
	max-width: 1920px
	margin: 0 auto
	height: auto
	display: flex
	flex-direction: row
	justify-content: center
	flex-wrap: wrap
	align-items: stretch
	.gallery_img
		position: relative
		width: 25%
		overflow: hidden
		img
			height: 100%
			
		.img_hover
			display: block
			position: absolute
			top: 0
			width: 100%
			height: 100%
			&::before
				content: "\e901"
				font-size: 35px
				font-weight: 700
				padding: 10px
				color: transparent
				border-radius: 50%
				font-family: 'icomoon'
				position: absolute
				top: 43%
				left: 43%
			&:hover
				background: rgba(123, 136, 238, .8)
				&::before
					color: $blue
					background: #fff
				
#about
	@extend %maw_block
	height: 300px
	padding: 125px 0 125px
	.about_left_col
		width: 50%
		float: left
		h3
			padding: 25px 0px 27px
			text-transform: uppercase
			color: $blue
			font-size: 30px
			font-weight: 700
		p
			font-size: 14px
			color: #555555
			max-width: 465px
	.about_right_col
		position: relative
		height: 308px
		width: 50%
		float: right
		box-shadow: 2px 0 20px rgba(153,153,153,.4)
		.about_carouser
			.carousel_item
				img
					width: 100%
		.owl-controls
			.owl-buttons
				.owl-prev::before,
				.owl-next::before
					position: absolute
					top: 43%
					color: $blue
					background: #fff
					border-radius: 50%
					font-family: 'icomoon'
					font-size: 40px
					font-weight: 500
					padding: 2px 3px
					box-shadow: 0 0 15px rgba(153,153,153,.6)
				.owl-prev::before
					content: "\e90d"
					left: -25px
				.owl-next::before
					content: "\e900"
					right: -25px
#features
	width: 100%
	background: url("../img/features_bg.jpg")
	background-size: cover
	background-position: top center
	.features_block
		@extend %maw_block
		padding: 124px 0 80px
		&::after
			content: ""
			clear: both
			display: block
		.feature
			color: #fff
			min-height: 240px
			width: 25%
			float: left
			text-align: center
			margin-bottom: 60px
			.feature_img
				border: 2px solid #fff
				width: 70px
				height: 70px
				line-height: 70px
				border-radius: 50%
				margin: 0 auto
				img
					height: 45px
					padding: 12px 12px
			h4
				width: 182px
				margin: 0 auto
				padding: 32px 0 25px
				font-size: 18px
			p
				width: 265px
				margin: 0 auto
				font-size: 14px
.shop
	background: url("../img/lotus_bg.jpg") no-repeat
	background-position: bottom right
	padding-bottom: 200px
	#prices
		@extend %maw_block
		padding: 100px 0 107px
		&::after
			content: ""
			clear: both
			display: block
		.block_prices
			max-width: 370px
			height: 493px
			float: left
			border-radius: 9px
			box-shadow: 0px 0 25px rgba(153,153,153,.6)
			overflow: hidden
			background: #fff
			&:nth-child(2)
				margin: 0 30px
			.price_head
				height: 150px
				line-height: 150px
				background: #5b6ceb
				color: #fff
				padding: 0px 70px 0px 100px
				font-size: 67px
				font-weight: 700
				margin: 0 0 25px
				.dollar
					vertical-align: top
					font-size: 32px
					font-weight: 700
				.month
					font-size: 18px
					font-weight: 700
			p
				padding: 0px 70px
				text-transform: uppercase
				margin: 25px 0
				font-size: 18px
				color: #555555
			.line
				width: 99px
				margin: 0 auto
				border-bottom: 1px solid #d7d7d7
			button
				display: block
				width: 170px
				line-height: 50px
				outline: none
				border: none
				background: #5b6ceb
				margin: 0 auto
				color: #fff
				border-radius: 17px
	#trainers_carousel
		@extend %maw_block
		background: #fff
		height: 250px
		border-radius: 7px
		box-shadow: 0px 0 25px rgba(153,153,153,.6)
		.owl-wrapper-outer
			height: 400px
		.carousel_item
			position: relative
			img
				padding: 10px
				border: 2px solid #dadada
				border-radius: 50%
				overflow: hiden
				float: left
				margin: 55px 46px 0px 63px
			.trainer_about
				position: relative
				max-width: 690px
				float: left
				position: relative
				padding: 50px 0 0 40px
				&::before
					position: absolute
					content: "\e904"
					left: -10px
					font-family: 'icomoon'
					font-size: 20px
					color: #5b6ceb
				&::after
					position: absolute
					content: "\e903"
					bottom: 63px
					right: -80px
					font-family: 'icomoon'
					font-size: 20px
					color: #5b6ceb
				
				.vertical_line
					position: absolute
					bottom: 0
					left: 0
					height: 75px
					width: 2px
					background: #d7d7d7
				p
					max-width: 645px
					font-size: 14px
					font-style: italic
					color: #555555
				.position
					display: block
					margin-top: 40px
					font-size: 14px
					color: #777777
				.name
					color: #5b6ceb
				.trainer_min
					position: absolute
					left: 95px
					bottom: -95px
					width: 165px
					img
						float: left
						padding: 0
						margin: 0 10px 0 0
					p
						color: #555555
						font-size: 14px
						font-weight: 700
						font-style: normal
						margin-top: 12px
					span
						font-size: 12px
						color: #777777
		.owl-controls
			.owl-pagination
				.owl-page
					position: absolute
					width: 20px
					height: 20px
					top: 45px
					right: -65px
					background: url("../img/circle.png")
					background-size: cover
					&:nth-child(2)
						top: 83px
					&:nth-child(3)
						top: 121px
					&:last-child
						top: 159px
					&.active
						background: url("../img/dot_in_circle.png")
						background-size: cover
						
			.owl-buttons
				.owl-prev::before,
				.owl-next::before
					position: absolute
					bottom: -15px
					color: $blue
					background: #fff
					border-radius: 50%
					font-family: 'icomoon'
					font-size: 30px
					font-weight: 500
					padding: 1px
					box-shadow: 0 0 15px rgba(153,153,153,.6)
				.owl-prev::before
					content: "\e90d"
					left: 300px
				.owl-next::before
					content: "\e900"
					left: 525px
footer
	width: 100%
	background: #5b6ceb
	color: #fff
	.footer_block
		height: 450px
		@extend %maw_block
		padding-top: 100px
		&::after
			content: ""
			clear: both
			display: block
		h4
			text-transform: uppercase
			font-size: 18px
			font-weight: 700
			margin-bottom: 60px
		.footer_left_col
			width: 50%
			float: left
			p
				max-width: 460px
				font-size: 14px
				margin-bottom: 70px
			ul
				list-style: none
				li
					display: inline-block
					a
						line-height: 23px
						width: 25px
						font-family: 'icomoon'
						content: "\e90b"
						font-size: 23px
						color: #fff
						padding-right: 15px
						text-decoration: none
					&:first-child a::before
						content: "\e90b"
					&:nth-child(2) a::before
						content: "\e907"
					&:nth-child(3) a::before
						content: "\e906"
					&:nth-child(4) a::before
						content: "\e909"
					&:nth-child(5) a::before
						content: "\e90c"
		.footer_right_col
			width: 50%
			float: left
			ul
				list-style: none
				li
					display: inline-block
					width: 195px
					font-family: 'icomoon'
					vertical-align: top
					&:first-child,
					&:nth-child(3)
						margin: 0 130px 30px 0
					&:first-child::before
						content: "\e90a"
						font-size: 23px
						float: left
					&:nth-child(2)::before
						content: "\e902"
						font-size: 25px
						float: left
					&:nth-child(3)::before
						content: "\e908"
						font-size: 23px
						float: left
					&:last-child::before
						content: "\e905"
						font-size: 17px
						float: left
						margin-right: 10px
					span
						font-size: 14px
						display: block
						padding-left: 33px
					a
						text-decoration: none
						color: #fff
	.footer_bottom
		background: #5363d8
		line-height: 100px
		width: 100%
		color: #b7bffc
		text-align: center
		
		
		
		
		
		
		
		
		
		
		
		







@import 'media'